.nav-buttons {
  float: right;
}

.add-person, .save, .delete {
  cursor: pointer;
  float: left;
  border: none;
}

.material-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.desktop-buttons {
  width: 55.5px;
  position: absolute;
}

@media only screen and (max-width: 790px) {
  .mobile-buttons {
    display: block
  }
  .desktop-buttons {
    display: none;
  }
}

.save-desktop, .delete-desktop {
  margin-top: 5px;
}