/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*---------- Material icons ----------*/

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

/*---------- Custom content layout ----------*/

body {
  background-color: #e0e0e0;
}

.row .col{
  padding: 0;
}

.container .row {
  margin: 0;
}

.container {
  float: left;
  width: 60%;
}

.col {
  width: 60%;
}

/*---------- Custom nav ----------*/

nav {
  height: 65px;
  padding: 5px;
  line-height: 55px;
}


/*---------- Custom tabs ----------*/

.tabs .indicator {
  background-color: #f5f5f5;
}

.tabs .tab a {
  color: #f5f5f5;
}

.tabs .tab a:hover {
  color: #e0e0e0;
}


/*---------- Custom cards --------*/

.card {
  margin: 5px;
  border-radius: 0px;
}

.card .card-content p {
  color: #424242;
}

.card-title {
  color: #424242;
}


/*---------- Cutom mobile width --------*/

@media only screen and (max-width: 790px) {
  .container {
    width: 100%;
  }
  .col {
    width: 100%;
  }
}


/*---------- Custom floating button --------*/

.mobile-button {
  display:none;
}

@media only screen and (max-width: 790px) {
  .mobile-button {
    display:block
  }
  .desktop-button {
    display:none;
  }
}


/*---------- Custom icons --------*/

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


.nav-buttons i {
  margin-left: 15px;
}


.app-container {
  width: 850px;
  margin-left: 80px;
}

.app-container.list {
  background-color: #FAFAFA;
  padding: 30px;
}

.item-search input {
  background-color: #fff;
}

.nav-item-search {
  background-color: #fff;
}

.product-table {
  margin-top: 2px;
}

.list-info .material-icons {
  color: #9E9E9E;
}

