/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*---------- Custom content layout ----------*/

body {
  background-color: #e0e0e0;
}

.col {
  width:100%;
}

.row .col{
  padding: 0;
}

.container .row {
  margin: 0;
}

.container {
  float: left;
  width: 50%;
  margin-left: 100px;
}

@media only screen and (max-width: 992px) {
  .list-info{
    padding-left:10px;
  }

}



/*---------- Custom nav ----------*/

nav {
  height: 65px;
  padding: 5px;
  line-height: 55px;
}


/*---------- Custom tabs ----------*/

.tabs .indicator {
  background-color: #f5f5f5;
}

.tabs .tab a {
  color: #f5f5f5;
}

.tabs .tab a:hover {
  color: #e0e0e0;
}


/*---------- Custom cards --------*/

.card {
  margin: 5px;
  border-radius: 0px;
}

.card .card-content {
  padding: 15px;
  overflow: hidden;
}

.card-content .material-icons {
  color: #424242;
}

.card .card-title {
  color: #424242;
  font-size: 18px;
  text-transform: uppercase;
}

.card .card-content li {
  color: #424242;
  list-style-type: circle;
}

.card .card-content ul {
  padding: 5px 20px;
}

.card .card-content p {
  color: #424242;
}

.shared {
  float: left;
  font-size: 14px;
}

/*---------- Custom floating buttons --------*/

.mobile-button {
  display:none;
}

.mobile-buttons {
  display: none;
}

.desktop-buttons {
  float:left;
  margin-left:5px;
  }

/*---------- Custom icons --------*/

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.mobile-buttons i {
  margin-left: 15px;
}

.item-search input {
  background-color: #fff;
}

.nav-item-search {
  background-color: #fff;
  width: 100%;
}

.product-table {
  margin-top: 2px;
}

.list-info .material-icons {
  color: #9E9E9E;
}


/*---------- Custom responsivity --------*/

@media only screen and (max-width: 992px) {
table.responsive-table {
    width: 100% !important;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    display: table !important;
    position: absolute !important;
  }
}

@media only screen and (max-width: 900px) {
  
/*---------- Responsive custom content --------*/  

  .container {
    width: 100%;
    margin-left:0;
  }
  .col {
    width: 100%;
  }


/*---------- Responsive button layout --------*/   
  
  .mobile-button {
    display: block
  }
  
  .mobile-buttons {
    display: block;
  }
  
  .desktop-button {
    display: none;
  }
  
  .desktop-buttons {
    display: none;
  }
  
}

/*----------- Relavite --------------*/
.mobile-buttons {
  float: right;
}

.add-person, .save, .delete {
  cursor: pointer;
  float: left;
  border: none;
}

.material-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.save-desktop, .delete-desktop {
  margin-top: 5px;
}

.edit-list {
  cursor: pointer;
  border: none;
}

.delete-item {
  cursor: pointer;
  border: none;
  color: black;
}

.delete-list {
  cursor: pointer;
  border: none;
}

.share-list {
  cursor: pointer;
}

